[submodule "synerex_proto"]
	path = synerex_proto
	url = https://github.com/synerex/synerex_proto.git
[submodule "synerex_nodeapi"]
	path = synerex_nodeapi
	url = https://github.com/synerex/synerex_nodeapi.git
[submodule "synerex_api"]
	path = synerex_api
	url = https://github.com/synerex/synerex_api.git
[submodule "proto_json"]
	path = proto_json
	url = https://github.com/synerex/proto_json.git
